.main{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;


}

.main__items{
    margin: 2em;
    margin-left: 30%;
}


.main__photo{

    width: 11.5em;
    height: 12em;
    text-align: center;
    border-radius: 1em;

}


.main__items2{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.main__fig{
    
    height: auto; 
    margin: 2em;
    background-image: url(../images/gaphoto3.png);
    width: 13em;
    height: 16em;
    padding: 10px;
    box-shadow: 3px 0px 9px rgb(164, 163, 163);
    color: black!important;
    font-size: 1.5rem;
    font-weight:bold;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main__section1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 3em;
}
.another{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 3em;
}
.main__video{
    width: 12em;
    height: 12em;
    border-radius: 1em;

}
.main__section2{
    margin-right: 5em;
    margin-top: 0;


}
.main__figcap{
    margin-left: 4em;
}
.main__description{
    padding: 0.5em 2em;
}
.main__title:hover {
    color: #f3a93d;
    font-size: x-large;
    font-style: italic;
}
.textNone{
    display: none;


}

@media(max-width:900px){
    .main__items2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;  
    }
}


