.main__wrapper{
    margin: 0!important;
}
.text--color{
    color: #ffffff;
}

.main__item2 .main__table .row .key{
    background-color: rgb(96, 94, 94);

}
.main__item .tableContanier .table .row .value{
    width: 4em;
    padding-left: 0;

}

.textNone{
    display: none;

}

.main{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding-top: 0.5em;
    width: 100%;
    padding: 2%;
}
.main__item:nth-child(1){
    margin-left: 30%;
    margin-top: 5%;
}
.main__item:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:2% 1em 2% 1em;
    width: 100%;
}

.title .fontFamily{
    color: #ffffff;

}
.main__item:nth-child(1) .main__title{
    margin-bottom: 0.5em;
}

.main__wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.main__item .tableContanier{
    margin-top: 10%;
    margin-right: 3em;
}
.main__item .table .row .key{
    background-color: rgb(96, 94, 94);

}
.main__item .table .row .value{
    width: 4em;
    padding-left: 0;
}


.table {
    width: 400px;
}
    

.value {
    text-transform: capitalize;
    letter-spacing: 0.1em;
    font-size: 90%;
    padding: 7px 10px 10px 10px;
    border-bottom: 2px solid #756a6a;
    border-top: 1px solid #999;
    text-align:justify;
    margin-left: 0.25em;
}

.row.even {
    background-color: #efefef;
}

.fontFamily{
    font-family: sans-serif;
    font-size: medium;
    color: #ffffff;
    opacity: 0.8;
}

.main__header{
    margin-bottom: 0.8em;
    padding-left: 1em;
    color: #f3a93d;
    opacity: 0.8;
}
.main__text{
    padding-right: 1.5em;
    padding-bottom: 1em;
}
.innerText{
    padding: 1em;

}

.main__title{
    margin-bottom: 0.8em;
    padding-left: 1em;
    color: #ffffff;
    margin-left: 2em;
  
}


.main__paragraph{
    margin-bottom: 0.8em;
    margin-right: 1em;
    padding-left: 1em;
    color: #ffffff;
    opacity: 0.6!important;
}