@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Resets */
* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

/* Material Design Colors */
.lightTheme {
  --primary: #000000;
  --onPrimary: #ffffff;
  --primaryContainer: #d6e2ff;
  --onPrimaryContainer: #001a43;
  --secondary: #3658b9;
  --onSecondary: #ffffff;
  --secondaryContainer: #dae1ff;
  --onSecondaryContainer: #00154f;
  --tertiary: #3658b9;
  --onTertiary: #ffffff;
  --tertiaryContainer: #dae1ff;
  --onTertiaryContainer: #00154f;
  --error: #ba1b1b;
  --errorContainer: #ffdad4;
  --onError: #ffffff;
  --onErrorContainer: #410001;
  --background: #fafafa;
  --onBackground: #2b2b2b;
  --surface: #ffffff;
  --onSurface: #1f1a1b;
  --surfaceVariant: #e1e2ec;
  --onSurfaceVariant: #44474f;
  --outline: #eeeeee;
  --inverseOnSurface: #faeeef;
  --inverseSurface: #352f30;
  --primaryInverse: #acc7ff;
  /**Color Opacities**/
  --primaryText: 0.94;
  --secondaryText: 0.6;
  --disabledText: 0.38;
  --outlineSize: 0.1rem;
}

.nav {
  background-color: var(--surface);
  color: var(--onSurface);
  z-index: 1;
  border-bottom: var(--outlineSize) solid var(--outline);
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  grid-area: nav;
  justify-content: space-between;
  height: auto;
  box-shadow: rgb(0 0 0 / 3%) 0rem 0rem 1rem 0rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
}

.nav__logo {
  font-size: 1.5rem;
  flex-shrink: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: inherit;
  opacity: var(--primaryText);
  color: var(--primary);
  letter-spacing: 0.2em;
}
.nav__list {
  display: inline-flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  background-color: inherit;
}

.nav__item {
  padding: 0.75em;
  margin: 0.25em;
  display: inline;
  opacity: var(--primaryText);
  border-bottom-style: solid;
  border-bottom-width: calc(var(--outlineSize) * 2);
  border-color: transparent;
}

.nav__item--active {
  border-bottom-color: var(--primary);
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.nav__item:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav__hamburger {
  background: transparent;
  border: 0;
  color: var(--onSurface);
  cursor: pointer;
  margin-left: auto;
  display: none;
}

.nav__hamburgerIcon {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 63.75rem) {
  .nav__list {
    display: none;
  }
  .nav__hamburger {
    display: block;
  }
  .nav__list--show {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
  }
}

.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.5em;
  background-color: var(--surface);
  border-top: var(--outlineSize) solid var(--outline);
  grid-area: footer;
  height: auto;
  width: 100%;
}

.footer__text {
  color: var(--onSurface);
  opacity: var(--secondaryText);
}
