.main{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;

}

.main__photo{
    max-width: 100%;
}

.main__items1{
    margin: 2em 2em 2em 30%;
}

.textNone{
    display: none;


}
.main__items2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; 
    padding-right: 0.5em;
    margin-bottom: 2em;



}
.main__subitems1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; 
    padding-right: 0.5em;
    margin-bottom: 2em;

}

.main__subitems2{
    margin: 0;
}
.main__fig{
    
    height: auto; 
    margin: 2em;
    background-image: url(../images/gaphoto2.png);
    width: 13em;
    height: 15em;
    padding: 10px;
    box-shadow: 3px 0px 15px rgb(164, 163, 163);
    font-size: 1.5rem;
    font-weight:bold;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main__figcap{
    margin-left: 4em;
}
.main__video{
    width: 12em;
    height: 12em;
    border-radius: 1em;
}
.main__photo{

    width: 11.5em;
    height: 12em;
    text-align: center;
    border-radius: 1em;

}

.textNone{
    display: none;
}
.main__header{
    margin-bottom: 0.25em
}
.main__description{
    padding-left: 1em;
}


@media(min-width:1143px){
    .main__items2{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    
    }
}